.navbar-gradient {
  background: linear-gradient(90deg, #d78432, #101add);
  color: white;
}

.navbar-gradient .nav-link,
.navbar-gradient .navbar-brand,
.navbar-gradient a {
  color: white;
}

.navbar-gradient .btn-outline-primary {
  border-color: white;
  color: white;
}

.navbar-gradient .btn-outline-primary:hover {
  background-color: white;
  color: #4e54c8;
}

.bg-image-cover {
  background-image: url('images/0.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px; /* ou autre valeur pour assurer qu’elle est visible */
}

.bg-image-col1 {
    background-image: url('images/1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-col2 {
  background-image: url('images/2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-image-col3 {
  background-image: url('images/3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-image-col4 {
  background-image: url('images/4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-image-col5 {
  background-image: url('images/5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-image-col6 {
  background-image: url('images/6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}



